<form>
  <h1 class="my-1" style="width: 100%;text-align: center;">Book List</h1>
  <div class="container">
    <div class="row child-row">
      <div class="col-2">
        
        <mat-form-field>
          <mat-select (ngModelChange)="setData(book.BookName)" [formControl]="SelectedCategoryList" multiple
            class="form-control" placeholder="Select Category">
            <mat-option *ngFor="let item of BookCategoryList" [value]="item.BookCategoryId">
              {{item.BookCategory}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-8" style="margin-top: 20px;">
        <div class="input-group border" style="border-radius: 50px;padding-right: 10px;">
          <input style="border-radius: 50px;border-color: white;" type="text" placeholder="Book Name" name="Book"
            class="form-control" [(ngModel)]="book.BookName" (ngModelChange)="setData($event)">
          <i>
            <img width="25" height="25" style="margin: 10px;"
              src="https://cdn-icons.flaticon.com/png/128/3031/premium/3031293.png?token=exp=1651670991~hmac=51a0eeb08a9dde3587d5abb4a49a0ab7"
              alt="">
          </i>
        </div>

      </div>

      <div class="col-2" style="margin-top: 20px;">
        <select [(ngModel)]="book.PageLength" class="form-control" name="PageSize"
          (ngModelChange)="setData(book.BookName)">
          <option value="10" selected>10 item per page</option>
          <option value="5" selected>5 item per page</option>
          <option value="3" selected>3 item per page</option>
        </select>
      </div>
    </div>

    <div class="row child-row" style="margin-top: -10px;">
      <div class="col-3">
        <mat-form-field>
          <mat-select [formControl]="SelectedPublisherList" multiple class="form-control"
            (ngModelChange)="setData(book.BookName)" placeholder="Select Publisher">
            <mat-option *ngFor="let item of BookPublisherList" [value]="item.BookPublisherId">
              {{item.BookPublisher}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-2"></div>

      <div class="col-3"></div>

      <div class="col-2" style="margin-top: 15px;">
        <a [routerLink]="['/issuebook', 0]" class="btn btn-primary submit" style="width: 100%;">
          Issue Book
        </a>

      </div>

      <div class="col-2" style="margin-top: 15px;">
        <a (click)="insertBtn()" class="btn btn-primary submit" style="width: 100%;">
          Insert Book
        </a>

      </div>
    </div>
  </div>
</form>
<div class="container">
  <div class="inner">
    <table mat-table [dataSource]="BookList" class="mat-elevation-z8">
      <ng-container matColumnDef="BookId">
        <th mat-header-cell *matHeaderCellDef> BookId </th>
        <td mat-cell *matCellDef="let element"> {{element.BookId}} </td>
      </ng-container>

      <ng-container matColumnDef="BookName">
        <th mat-header-cell *matHeaderCellDef> BookName </th>
        <td mat-cell *matCellDef="let element"> {{element.BookName}} </td>
      </ng-container>

      <ng-container matColumnDef="BookCategoryName">
        <th mat-header-cell *matHeaderCellDef> BookCategory </th>
        <td mat-cell *matCellDef="let element"> {{element.BookCategoryName}} </td>
      </ng-container>

      <ng-container matColumnDef="BookPublisherName">
        <th mat-header-cell *matHeaderCellDef> BookPublisher </th>
        <td mat-cell *matCellDef="let element"> {{element.BookPublisherName}} </td>
      </ng-container>
      <ng-container matColumnDef="BookQuantity">
        <th mat-header-cell *matHeaderCellDef> Book Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.BookQuantity}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a (click)="editBtn(element.BookId)" class="btn btn-primary submit" style="width: 30%;margin-left: 5px;">
            Edit
          </a>
          <a (click)="deleteBtn(element.BookId)" class="btn btn-primary submit" style="width: 30%;margin-left: 5px;">
            Delete
          </a>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <div class="pagingDiv">
      <ngb-pagination [collectionSize]="book.TotalPages*10" [(page)]="book.PageNumber" [maxSize]="5" [rotate]="true"
        [ellipses]="false" (pageChange)="setData(book.BookName)" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>

<router-outlet></router-outlet>